/* =============================== Font Connectivity ============================= */
/* livvic-300 - latin */
@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/livvic-v13-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/livvic-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/livvic-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/livvic-v13-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/livvic-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/livvic-v13-latin-300.svg#Livvic') format('svg'); /* Legacy iOS */
  }
  /* livvic-regular - latin */
  @font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/livvic-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/livvic-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/livvic-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/livvic-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/livvic-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/livvic-v13-latin-regular.svg#Livvic') format('svg'); /* Legacy iOS */
  }
  /* livvic-500 - latin */
  @font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/livvic-v13-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/livvic-v13-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/livvic-v13-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/livvic-v13-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/livvic-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/livvic-v13-latin-500.svg#Livvic') format('svg'); /* Legacy iOS */
  }
  /* livvic-600 - latin */
  @font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/livvic-v13-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/livvic-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/livvic-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/livvic-v13-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/livvic-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/livvic-v13-latin-600.svg#Livvic') format('svg'); /* Legacy iOS */
  }
  /* livvic-700 - latin */
  @font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/livvic-v13-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/livvic-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/livvic-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/livvic-v13-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/livvic-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/livvic-v13-latin-700.svg#Livvic') format('svg'); /* Legacy iOS */
  }
  /* livvic-900 - latin */
  @font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/livvic-v13-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/livvic-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/livvic-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/livvic-v13-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/livvic-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/livvic-v13-latin-900.svg#Livvic') format('svg'); /* Legacy iOS */
  }

/* ================================= Default Css ============================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Livvic',sans-serif;
    font-size: 16px;
    font-weight: 400;
}

ul,ol {
    list-style: none;
    margin-bottom: 0!important;
}

a {
    text-decoration: none;
}

.ptb-100{
    padding: 100px 0;
}

.mb-30 {
    margin-bottom: 30px;
}

.pr-56 {
    padding-right: 56px;
}

.z-index-1 {
    position: relative;
    z-index: 1;
}

.pt-relative {
    position: relative!important;
}

:root {
    --bg-theme: #052C99;
    --white: #fff;
    --black: #000;
    --skyblue: #55A3F2;
}

/* ================================= Header Css ============================== */

.social_info i{
    color: var(--skyblue);
    font-size: 18px;
    margin-right: 10px;
}

.social_info span{
    font-weight: 600;
}

.social_info p
{
    transform: translateX(34px);
    margin-bottom: 0!important;
}

/* ================================= Navigation Css =========================== */

.navbar{
    padding: 12px 0;
    background-image: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
    position: sticky;
    top: 0;
}

.social_icon a{
    color: var(--white);
    font-size: 14px;
}
/* ================================= Slider Css ============================== */

.carousel-item.slide1 {
    height: 85vh;
    background: url(../images/asset\ 35.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel-item.slide2 {
    height: 85vh;
    background: url(../images/asset\ 36.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel-inner {
    position: relative;
}

.carousel-inner .carousel-caption {
    position: absolute;
    top: 15%;
    left: 5%;
}

.carousel-caption .img_box
{
    width: 80px;
}
.carousel-caption h1
{
    font-size: 78px;
    font-weight: 900;
    line-height: 80px;
}
.carousel-caption p
{
    font-size: 18px;
    padding-right: 380px;
}
.carousel-caption .btn
{
    background-image: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.carousel-caption .btn:hover {
    background-color: none;
}


/* ================================= About Css ============================== */

.about_content {
    margin-bottom: 30px;
}

.about_content span {
    position: relative;
    padding-left: 90px;
    line-height: 55px;
}

.about_content span::before {
    content: '';
    width: 12px;
    height: 4px;
    background-color: var(--bg-theme);
    position: absolute;
    top: 10px;
    left: 0;
}

.about_content span::after {
    content: '';
    width: 50px;
    height: 4px;
    background-color: var(--bg-theme);
    margin-left: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.about_content h1 {
    font-weight: 700;
    font-size: 36px;
}

.about_content p:nth-child(3) {
    font-size: 18px;
}

.shape_part .left_side {
    position: absolute;
    bottom: 0;
    left: 0;
}

.shape_part .right_side {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* ================================= Services Css ============================== */

.services {
    background: url(../images/asset\ 37.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.service_item {
    padding: 50px 36px;
    background-color: #F3F7FF;
    border-radius: 10px;
    box-shadow: unset;
    margin: 0px -5px 0px 0px;
}

.service_item:hover {
    background-color: var(--white);
}

.service_item .service_icon img {
    width: 80px;
    height: 80px;
}

.service_item .service_content a {
    color: var(--black);
    font-size: 22px;
    font-weight: 600;
    transition: all ease-in .3s;
}

.service_item .service_content a:hover {
    color: #106eea;
}

/* ================================= Why Choose Us Css ============================== */

.why_choose_us {
    background: url(../images/asset\ 38.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.features_list {
    font-size: 22px;
    font-weight: 500;
}

.features_list li i {
    font-size: 26px;
}

.features_right h2 {
    font-size: 19px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 25px;
}

.features_right h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 35px;
}

.features_right p {
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 45px;
}






 

